
# Dependencies
**/node_modules/
**/dist/
**/build/
venv/
**/__pycache__/
# Env
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/

#Other
docs/migrations/
.gitignore
backend/scripts/seed_user_2_dummy.py
backend/scripts/seed_user_2_march_only.py
